
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<div class="text-center">
    <p>
        <b>Kushtar</b> - is the thing with which you can see the music.
        And also with <b>Kushtar</b> you can add your vision of any music.
    </p>
    <br />
    <p>
        <b>Kushtar</b> - a Temirbek uulu Kushtarbek production
    </p>
</div>
